* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.navbar {
    display: flex;
    height: 80px;
    background-color: #fff;  
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #e9ecef;
    padding: 0 5%;
    transition: all 0.3s ease;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.menu {
    display: flex;
    align-items: left;
    gap: 15px;
    margin-left: 0 auto;
}

.services-hero {
    margin-top: 0px;
    text-align: center;
    padding: 120px 20px 80px;
    background: linear-gradient(135deg, #ffffff 0%, #e8f0ff 100%);
}

.services-hero h1 {
    font-size: 44px;
    font-weight: 700;
    color: #0b5bd3;
}

.services-hero p {
    font-size: 18px;
    margin-top: 12px;
    color: #555;
}

.services-container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 30px;
}

.service-box {
    background: #fff;
    padding: 35px 25px;
    border-radius: 14px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    transition: .3s ease;
    text-align: center;
}

.service-box:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 22px rgba(0,0,0,0.12);
}

.service-box img {
    width: 65px;
    margin-bottom: 18px;
}

.service-box h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #0b5bd3;
}

.service-box p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.cta-section {
    text-align: center;
    padding: 80px 20px;
    background: #0b5bd3;
    color: #fff;
    margin-top: 60px;
}

.cta-section h2 {
    font-size: 36px;
    margin-bottom: 16px;
}

.cta-btn {
    display: inline-block;
    padding: 15px 32px;
    background: #fff;
    color: #0b5bd3;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
}

.cta-btn:hover {
    background: #f1f1f1;
}

footer {
    height: 60px;
    margin-top: 0px;
    margin-bottom: px;
    background: #000;
    text-align: center;
    border-top: 5px solid gold;
    width: 100%;
    padding: 60px 20px;
}