* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #f5f5f5;
    color: #333;
}

.txt {
   font-size: 20px;
   line-height: 1.6;
   text-align: justify;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: left; 
    align-items: center;
    height: 80px;
    padding: 0 5%;
    background-color: #fff; /* branco sólido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Logo */
.logo h1 {
    font-family: "Lobster", sans-serif;
    font-size: 28px;
    color: #077cf0;
    margin: 0;
}

/* Menu */
.menu a {
    color: #077cf0;
    text-decoration: none;
    justify-content: space-between;
    font-size: 18px;
    margin-left: 120px;
    padding: 10px 15px;
    gap: 30px;
    transition: all 0.3s ease;
}

.menu a:hover {
    color: #2c3e50; 
    border-top: 3px solid #555; 
    padding-top: 4px; 
}

/* Botão especial */
#botao {
    background-color: #333;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 20px;
    transition: 0.3s;
}

#botao:hover {
    background-color: #555;
}

/* Header */
/*.header {
   height: auto;
   background: white;
   display: flex;
   align-items: center;
   justify-content: center; 
   padding-top: 100px;
}*/

/* Seção */
section {
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5%;
    width: 90%;
}

section h2 {
    width: 100%;
    font-size: 40px;
    margin: 0 0 30px 0;
    font-family: "Lobster", sans-serif;
    font-weight: bold;
    color: #111;
    
}

/* Rodapé */
footer {
    margin-top: 100px;
    height: 200px;
    background: #111;
    text-align: center;
    border-top: 5px solid gold;
    
}

.logo-rodape {
    padding: 30px;
    color: white;
    
}

.agencia {
    font-family: "Lobster", sans-serif;
    color: #fff;
    font-size: 34px;
}