@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #333;
} 

.navbar{
    display: flex;
    height: 100px;
    background-color: #fff;  
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
}

.logo{
    flex: 20%;
    margin-left:10%;
    text-align: left;
}

.logo h1{
    font-family: "Lobster", sans-serif;
    color:#000;
    font-size: 34px;
}

.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a{
    color:#333;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 16px;
}
.menu a:hover{
    color: #000;
    border-top:4px solid #555;
}

#botao{
    background-color: #000;
    padding: 10px 25px;
    color: white;
    border-radius: 5px; 
    margin-right: 10%;
    margin-left: 5%;
}
#botao:hover{
    background: #555;
}

.header{
   height: auto;
   background: #f5f5f5;
   display: flex;
   align-items: center;
   justify-content: center; 
   padding-top: 100px;
}

.headline{
    margin-left: 10%; 
    flex:1;
}

.headline h2{
    font-weight: 900;
    font-size: 20px;
    color:#000;
    margin:0;
}

.headline p{
    color: #555;
    text-align: left;
}

.contatic-btn{
    display: inline-block;
    background-color: #000;
    padding: 15px 25px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none; 
}
.contatic-btn:hover{
    background-color: #555;
}

.img-headline{
    flex: 1;
    margin-right: 10%; 
    text-align: center;
}

section{
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5%;
    width: 90%;
}

section h2{
    width: 100%;
    font-size: 40px;
    margin: 0;
    font-family: "Lobster", sans-serif;
    font-weight: bold;
    color: #000;
}

.servicos{
    display: inline-block;
    margin-top: 5%;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border:1px solid #ccc; 
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: #fff;
} 
.texto-oculto{
    display: none;
}

.card:hover{
    background-color: #000;
    color: white;
    padding: 40px;
}
.card:hover img{
    display: none;
}
.card:hover .card-text{
    display: none;
}
.card:hover .texto-oculto{
    display: block;
}

footer{
    margin-top: 100px;
    height: 180px;
    background: #000;
    text-align: center;
    border-top: 5px solid #333;
}
.logo-rodape{
    padding:  0px;
    color: white;
}
.agencia{
    font-family: "Lobster", sans-serif;
    color:#fff;
    font-size: 34px;
}